<%= form_with(model: contact) do |form| %>
  <% if contact.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(contact.errors.count, "error") %> prohibited this contact from being saved:</h2>

      <ul>
        <% contact.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <form>
    <div class="mb-3">
        <% form.label :name, class: "form-label" %>
        <%= form.text_field :name, class: "form-control", placeholder: "Name" %>
    </div>

    <div class="mb-3">
        <% form.label :contact_number, class: "form-label" %>
        <%= form.text_field :contact_number, class: "form-control", placeholder: "Contact Number" %>
    </div>

    <div class="mb-3 form-label">
        <% form.label :physical_address, class: "form-label" %>
        <%= form.text_field :physical_address, class: "form-control", placeholder: "Physical Address" %>
    </div>

    <div class="mb-3 form-label">
        <% form.label :billing_address, class: "form-label" %>
        <%= form.text_field :billing_address, class: "form-control", placeholder: "Billing Address" %>
    </div>

    <div class="mb-3 form-label">
        <% form.label :user_id,id: :contact_user_id, class: "form-label" %>
        <%= form.number_field :user_id, class: "form-control", value: current_user.id, type: :hidden %>
    </div>

    <%= form.submit class: "btn btn-dark" %>
  </form>
<% end %>
